<div className="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table className="w-full text-left text-sm text-gray-900 dark:text-gray-900">
                <thead className="bg-gray-50 text-sm text-gray-700 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th className="px-6 py-3">Turn</th>
                        <th className="px-6 py-3">{Powers.GERMANY}</th>
                        <th className="px-6 py-3">{Powers.SOVIET_UNION}</th>
                        <th className="px-6 py-3">{Powers.COMMUNIST_CHINA}</th>
                        <th className="px-6 py-3">{Powers.JAPAN}</th>
                        <th className="px-6 py-3">{Powers.UK_WEST}</th>
                        <th className="px-6 py-3">{Powers.UK_EAST}</th>
                        <th className="px-6 py-3">{Powers.ANZAC}</th>
                        <th className="px-6 py-3">{Powers.FRANCE}</th>
                        <th className="px-6 py-3">{Powers.ITALY}</th>
                        <th className="px-6 py-3">{Powers.USA}</th>
                        <th className="px-6 py-3">
                            {Powers.NATIONALIST_CHINA}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {turnLabels.map((turnLabel: string, turnIndex: number) => (
                        <tr
                            key={turnIndex}
                            className="border-b bg-white dark:border-gray-700 dark:bg-gray-800"
                        >
                            <td className="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">
                                {turnLabel}
                            </td>
                            <td className="px-6 py-4 dark:text-white">
                                {germanTurns[turnIndex]?.start}
                            </td>
                            <td className="px-6 py-4 dark:text-white">
                                {sovietTurns[turnIndex]?.start}
                            </td>
                            <td className="px-6 py-4 dark:text-white">
                                {commieChinaTurns[turnIndex]?.start}
                            </td>
                            <td className="px-6 py-4 dark:text-white">
                                {japanTurns[turnIndex]?.start}
                            </td>
                            <td className="px-6 py-4 dark:text-white">
                                {ukWestTurns[turnIndex]?.start}
                            </td>
                            <td className="px-6 py-4 dark:text-white">
                                {ukEastTurns[turnIndex]?.start}
                            </td>
                            <td className="px-6 py-4 dark:text-white">
                                {anzacTurns[turnIndex]?.start}
                            </td>
                            <td className="px-6 py-4 dark:text-white">
                                {franceTurns[turnIndex]?.start}
                            </td>
                            <td className="px-6 py-4 dark:text-white">
                                {italyTurns[turnIndex]?.start}
                            </td>
                            <td className="px-6 py-4 dark:text-white">
                                {usaTurns[turnIndex]?.start}
                            </td>
                            <td className="px-6 py-4 dark:text-white">
                                {nattyChinaTurns[turnIndex]?.start}
                            </td>
                        </tr>
                    ))}
                </tbody>
            </table>
        </div>
