<form
    autocomplete="off"
    hx-post="/turns"
    hx-target="this"
    hx-swap="outerHTML"
>
    <input type="hidden" name="power" value="{{ power }}"/>
    <input type="hidden" name="season" value="{{ turn.season }}"/>
    <input type="hidden" name="year" value="{{ turn.year }}"/>
    <div>
        <label htmlFor="start">
            IPP
        </label>
        <input
            type="number"
            name="start"
            value="{{ turn.start }}"
            readonly
        />
    </div>
    <div>
        <label htmlFor="spent">
            Spent
        </label>
        <input
            type="number"
            name="spent"
            value="{{ turn.spent }}"
        />
        {# <ErrorMessage name={"spent"}> #}
    </div>
    <div class="mb-6">
        <label htmlFor="income">
            Income
        </label>
        <input
            type="number"
            name="income"
            value="{{ turn.income }}"
        />
        {# <ErrorMessage name={"income"}> #}
    </div>
    <button type="submit">
        Save
    </button>
</form>
