[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgi-htmx = "*"
starlette = "*"
itsdangerous = "*"
jinja2 = "*"
jinja2-fragments = "*"
pillow = "*"
python-multipart = "*"
qrcode = "*"
tinydb = "*"
uvicorn = "*"

[dev-packages]
ruff = "*"
minify-html = "*"

[scripts]
run = "python main.py"
build = "python build.py"
lint = "ruff check --preview"
format = "ruff format --preview"

[requires]
python_version = "3.12"
