[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "~=10.1"
tinydb = "~=4.6"
qrcode = "~=7.3"
pillow = "~=9.0"

[dev-packages]

[requires]
python_version = "3.8"
