{% extends "base.html" %}

{% block content %}
    {% with title="Draft" %}{% include 'fragments/nav.html' %}{% endwith %}
    <form
        autocomplete="off"
        hx-post="/draft"
    >
        <ul>
            {% for name, status in powers.items() %}
                <li key={{ name }}>
                    <label for="{{ name }}">
                        <input
                            type="checkbox"
                            name="{{ name }}"
                            id="{{ name }}"
                            {% if status == 1 %}checked{% endif %}
                            {% if status == 2 %}disabled{% endif %}
                        />
                        {{ name }}
                    </label>
                </li>
            {% endfor %}
        </ul>
        <button type="submit">
            Save
        </button>
    </form>
{% endblock %}
