{% extends 'base.html' %}

{% block content %}
    <h1>
        Global War 1936
    </h1>
    <button
        hx-get="/new"
        hx-replace-url="true"
    >
        New Game
    </button>
    <div>
        <hr/>
        <span>or</span>
    </div>
    <div>
        <form
            autocomplete="off"
            hx-get="/join"
            hx-replace-url="true"
        >
            <input
                name="game_ref"
                type="text"
            />
            <button type="submit">
                Join Game
            </button>
        </form>
    </div>
{% endblock %}
