{% extends 'base.html' %}

{% block content %}
    {% with title="Settings" %}{% include 'fragments/nav.html' %}{% endwith %}
    <div>
        <div>
            <label htmlFor="token">
                Token
            </label>
            <input
                type="text"
                id="game"
                value="{{ token }}"
                disabled
            />
        </div>
        <div>
            <label
                htmlFor="game"
            >
                Game
            </label>
            <input
                type="text"
                id="game"
                value="{{ game_ref }}"
                disabled
            />
        </div>
        <button
            hx-get="/leave"
            hx-replace-url="true"
        >
            Leave Game
        </button>
    </div>
{% endblock %}
